*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-image: url("https://i.pinimg.com/originals/54/34/c2/5434c2a82c14d398801d7fed387fb286.jpg");
  width: 100%;
  height: 100vh;
}

.title{

  font-family: 'Kaushan Script', cursive;
  background-image: linear-gradient(to right, #cadefc,#c3bef0);
  text-align: center;
  margin: 20px;
  padding: 0px 10px;
  font-size: 50px;
  mix-blend-mode: screen;
  opacity: .8;
}
.title:hover{
  transform: scale(1.02);
  background-image: linear-gradient(to right, #f6dfeb,#c3bef0);
}
.gallery{
  margin: 50px 50px;

}
.gallery img{
  width: 280px;
  padding: 15px;
  margin: 20px 33px;
  filter: grayscale(0);
  transition: .5s;
  border-style:inset;
  border-color: #defcf9;
}
.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}
